<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.enesfaruk.besiktasmobil">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bjkikon"
        android:label="Beşiktaş Mobil"
        android:roundIcon="@mipmap/bjkikon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">
        <activity android:name=".MainActivity" android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".anaekran"></activity>
        <activity android:name=".tarihce"></activity>
        <activity android:name=".fikstur"></activity>
        <activity android:name=".puandurumu"></activity>
        <activity android:name=".kadro"></activity>
        <activity android:name=".yonetim"></activity>
        <activity android:name=".marslar"></activity>
        <activity android:name=".galeri"></activity>
    </application>

</manifest>